@font-face {
  font-family: "Sarabun-Bold";
  src: url("./fonts/Sarabun-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Sarabun-BoldItalic";
  src: url("./fonts/Sarabun-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Sarabun-ExtraBold";
  src: url("./fonts/Sarabun-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Sarabun-ExtraBoldItalic";
  src: url("./fonts/Sarabun-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Sarabun-ExtraLight";
  src: url("./fonts/Sarabun-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Sarabun-ExtraLightItalic";
  src: url("./fonts/Sarabun-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Sarabun-Italic";
  src: url("./fonts/Sarabun-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Sarabun-Light";
  src: url("./fonts/Sarabun-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Sarabun-LightItalic";
  src: url("./fonts/Sarabun-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Sarabun-Medium";
  src: url("./fonts/Sarabun-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Sarabun-MediumItalic";
  src: url("./fonts/Sarabun-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Sarabun-Regular";
  src: url("./fonts/Sarabun-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Sarabun-SemiBold";
  src: url("./fonts/Sarabun-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Sarabun-SemiBoldItalic";
  src: url("./fonts/Sarabun-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Sarabun-Thin";
  src: url("./fonts/Sarabun-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Sarabun-ThinItalic";
  src: url("./fonts/Sarabun-ThinItalic.ttf") format("truetype");
}

.font-bold {
  font-family: Sarabun-Bold;
}
.font-bold-italic {
  font-family: Sarabun-BoldItalic;
}
.font-extra-bold {
  font-family: Sarabun-ExtraBold;
}
.font-extra-bold-italic {
  font-family: Sarabun-ExtraBoldItalic;
}
.font-italic {
  font-family: Sarabun-Italic;
}
.font-light {
  font-family: Sarabun-Light;
}
.font-light-italic {
  font-family: Sarabun-LightItalic;
}
.font-mediun {
  font-family: Sarabun-Medium;
}
.font-mediun-italic {
  font-family: Sarabun-MediumItalic;
}
.font-regular {
  font-family: Sarabun-Regular;
}
.font-semibold {
  font-family: Sarabun-SemiBold;
}
.font-thin {
  font-family: Sarabun-Thin;
}
.font-thin-italic {
  font-family: Sarabun-ThinItalic;
}
